.form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 10px;
  }

#registerform{
    width: 50%;
    height: 70%;
    margin: 0 auto;
}

#loginform {
  margin-left: 40%;
  margin-top: 20%;
}

